* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9F9F9; /* Светлый фон */
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.image-wrapper {
    /* Контейнер для центрирования */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    
    /* Легкая тень */
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}
